body{
    margin: 0;
    padding: 0;
    
}

#enregistrer-etudiant{
    display: none;
}

#zone-details{
    display: none;
}


div.new{
    /* background-color: red; */
}

button#new-recordStudent:hover{
    
    background-color: orange
}