*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;

}
body{
    
    
}

#zone-enregistrement-etudiant{
    display: none;
}

#zone-details{
    display: none;
}